@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-brand-white text-brand-dark font-sans antialiased;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.vintage-overlay {
  background: linear-gradient(rgba(94, 61, 44, 0.4), rgba(212, 111, 77, 0.3));
}
